body {
    text-align: left;
    font-family: verdana;
    min-height: 100vh;
    background-color: rgb(31, 31, 31);
    color: rgb(221, 221, 221);
}

a {
    color: rgb(221, 221, 221);
    text-decoration: none;
}

div {
    
}

.header {

}

.about {

}

.project {

}

.current {
    
}

.future {

}

.past {

}